<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Esparksinc_Survey::manager" title="Esparksinc" module="Esparksinc_Survey" sortOrder="10" resource="Esparksinc_Survey::manager" />
        <add id="Esparksinc_Survey::add_row" title="Survey" module="Esparksinc_Survey" sortOrder="20" parent="Esparksinc_Survey::manager" action="grid/grid" resource="Esparksinc_Survey::add_row"/>
    </menu>
</config>